services:
  server:
    build:
      context: ./apps/server
      dockerfile: Dockerfile
    ports:
      - "8080:8080"

  client_web:
    build:
      context: ./apps/client
      dockerfile: Dockerfile.web
    depends_on: [server]
    ports:
      - "8081:80"

  client_mobile:
    build:
      context: ./apps/client
      dockerfile: Dockerfile.mobile
