services:
  server:
    build:
      context: ./apps/server
      dockerfile: Dockerfile
    ports:
      - "8080:8080"

  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    depends_on:
      - server
    environment:
      - PORT=3000
    ports:
      - "3000:3000"

  mobile_web:
    build:
      context: ./apps/mobile
      dockerfile: Dockerfile
    ports:
      - "19006:19006"
